<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51766395286-335n68idmjfe8m9893dpmru720nuaa5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51766395286-335n68idmjfe8m9893dpmru720nuaa5j</string>
	<key>API_KEY</key>
	<string>AIzaSyCPUwW0RMVGhx-aNOi0mDRai6wSGVVFtHU</string>
	<key>GCM_SENDER_ID</key>
	<string>51766395286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mishacausur.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-f23a3</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-f23a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51766395286:ios:35c3e0e7758c955b8dddb7</string>
</dict>
</plist>